@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<RestaurantApp.Models.RestaurantResponseModel>

@{
    ViewData["Title"] = "Restaurants";
   
}

<div class="text-center">
   <div class="row">
        <div class="col-md-12">
         @*@ViewData["location"]*@
       @*   <div>
                @foreach (var item in Model)
                {
                    <p> @Html.DisplayFor(modelItem => item.BusinessName)</p>
                }

          </div>*@

     

         @foreach (var item in Model)
                {
                         <div class="list-group">
  
    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"> @Html.DisplayFor(modelItem => item.AddressLine2)</h5>
                     <small>@Html.DisplayFor(modelItem => item.PostCode )</small>
                      <p class="mb-1">@Html.DisplayFor(modelItem => item.BusinessName )</p>
                          </div>
  


</div>
                }
    
     

        </div>

    </div>
</div>

